/* ==========================================================================
   ROOT / BASE
   ========================================================================== */

html,
body,
#root {
  color: #000000;
  background-color: #fff;
  font-family: "ABC Diatype";
}

/* ==========================================================================
   FONTS
   ========================================================================== */

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/abc-diatype-regular.woff2') format('woff2'),
    url('/fonts/abc-diatype-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Junicode';
  src: url('/fonts/junicode-regularcondensed-webfont.woff2') format('woff2'),
    url('/fonts/junicode-regularcondensed-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* ==========================================================================
   RESET
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

*,
*::before,
*::after {
  cursor: none !important;
}

html,
body {
  line-height: 1;
  cursor: none;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  color: #6f6f6f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ==========================================================================
   SETTINGS / UTILITIES
   ========================================================================== */

.work-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.work-scroll {
  scrollbar-width: none;
  min-height: fit-content;
}

.w-scroll-about {
  pointer-events: none !important;
}

.item-role-compact {
  color: #6f6f6f;
}

/* ==========================================================================
   LAYOUT: APP SHELL
   ========================================================================== */

.app-row {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 32px 30px;
}

@media (max-height: 875px) {
  .app-row {
    padding: 16px 30px;
  }
}


.sidebar {
  width: 31%;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.content {
  padding-left: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 69%;
  position: relative;
}






/* ==========================================================================
   SIDEBAR: BIO / NAV
   ========================================================================== */

.bio-main {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.bio {
  font-family: "Junicode";
  font-size: 24px;
}

.bio-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 220px;
  max-height: 220px;
  flex-grow: 1;
}

.bio-container-bottom {
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: 56px;
}

.bio-container-bottom-mobile {
  height: 300px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: 56px;
}

.about,
.instagram {
  font-size: 32px;
  padding-top: 0;
  font-family: "ABC Diatype";
}

.name {
  font-family: "Junicode";
  font-size: 32px;
}

/* ==========================================================================
   CONTENT: HERO / TOP
   ========================================================================== */

.content-top {
  display: flex;
  justify-content: space-between;
  height: 220px;
  align-items: center;
  flex-direction: row;
}

.year-stack {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #DCDCDC;
  font-family: 'Junicode';
}

.hero-title {
  font-weight: 400;
  font-size: 180px;
  margin-left: -17px;
}

.nav {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

/* ==========================================================================
   MEDIA: IMAGES / VIDEO
   ========================================================================== */

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom center;
}

.photo2 {
  object-fit: cover;
    width: 100%;
  height: 100%;
}

/* ==========================================================================
   WORK TABLE
   ========================================================================== */

.work-table {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 14px;
  min-height: fit-content;
}

.work-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  border-bottom: 1px dotted #DCDCDC;
  font-size: 24px;
  font-weight: 400;
}

.work-row:hover {
  color: #6f6f6f;
}

.section-title {
  font-size: 32px;
  font-weight: 400;
  color: #DCDCDC;
  height: 50px;
}

.w-role,
.w-year {
  color: #DCDCDC;
}

.w-role {
  width: 250px;
}

.w-title {
  width: 250px;
}

.w-role-container {
  width: 100%;
  justify-content: center;
  display: flex;
}

.work-grid-compact {
  display: none !important;
}

.original-grid {
  display: flex;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

.footer {
  position: absolute;
  left: 40px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-family: "ABC Diatype";
}

.footer-note {
  font-family: 'ABC Diatype';
  font-size: 32px;
  color: #DCDCDC;
}

.footer-links {
  font-size: 32px;
  display: flex;
  gap: 100px;
}

.download {
  font-size: 32px;
  display: flex;
  gap: 30px;
}

.download-mobile {
  display: none;
  font-size: 24px;
}

.cv-text {
  color: #DCDCDC;
}

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */

.content-about {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.w-role-about,
.w-year-about {
  color: #DCDCDC;
}

.w-role-about {
  width: 450px;
}

.w-year-about {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  width: 300px;
}

.w-title-about {
  width: 700px;
}

.w-role-container-about {
  width: 100%;
  justify-content: center;
  display: flex;
}

/* ==========================================================================
   PROJECT PAGE
   ========================================================================== */

.content-project::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content-project {
  scrollbar-width: none;
  overflow-y: auto !important;
  padding-bottom: 140px;
}

.project-year-mid {
  font-size: 48px;
  font-family: "ABC Diatype";
}

.project-desc-bottom {
  padding-bottom: 32px;
}

.project-sidebar-label {
  font-size: 32px;
  color: #dcdcdc;
  padding-bottom: 16px;
}

.project-sidebar-description {
  font-family: "Junicode";
  font-size: 24px;
  line-height: 1.25;
}

/* Project content styling (matches your mock style) */
.project-page {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-right: 10px;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.project-projectTitle {
  font-size: 32px;
  font-weight: 400;
  color: #dcdcdc;
}

.project-year {
  font-size: 24px;
  color: #222;
}

.project-descriptionBlock {
  max-width: 520px;
}

.project-label {
  font-size: 18px;
  color: #dcdcdc;
  margin-bottom: 10px;
}

.project-description {
  font-family: "Junicode";
  font-size: 18px;
  line-height: 1.25;
}

.project-media {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project-image,
.project-video {
  width: 100%;
  height: auto;
  display: block;
}

.project-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.project-sidebar-title {
  font-size: 32px;
  color: #dcdcdc;
}

.project-sidebar-year {
  font-size: 24px;
  color: #222;
}

/* ==========================================================================
   LOADER
   ========================================================================== */

.fullscreen-loader {
  position: fixed;

  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;

  width: calc(100vw + 2px);
  height: calc(100vh + 2px);

  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999999;

  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
}

.loader-image {
  width: 100px;
  height: 100px;
}

/* ==========================================================================
   CUSTOM CURSOR (TOUCH DEVICES)
   ========================================================================== */

@media (hover: none),
(pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }
}

/* ==========================================================================
   SCROLL TO TOP
   ========================================================================== */

.scroll-to-top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 56px;
  height: 56px;
  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;
  z-index: 9999998;
  /* below loader (9999999), above cursor/content */

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (max-height: 850px) {
  .photo2 {
    height: 310px;
  }
.hero-title {
  font-size: 100px;
}
.content-top {
  min-height: 150px;
  max-height: 150px;
}
.bio-container {
   min-height: 150px;
  max-height: 150px;
}
.year-stack {
  font-size: 70px;
}

}


@media (max-width: 1680px) and (max-height: 960px){
  .hero-title {
    font-size: 130px;
  }

  .footer-note {
    font-size: 28px;
  }

  .footer-links {
    font-size: 28px;
  }

  .download {
    font-size: 28px;
  }

    .photo2 {
    height: 310px;
  }
.hero-title {
  font-size: 100px;
}
.content-top {
  min-height: 100px;
  max-height: 100px;
}
.bio-container {
   min-height: 100px;
  max-height: 100px;
}
.year-stack {
  font-size: 60px;
}
.work-row {
  height: 30px;
  font-size: 18px;
}
}

@media (max-width: 1440px) {
  .name {
    font-size: 24px;
  }

  .about {
    font-size: 24px;
  }

  .instagram {
    font-size: 24px;
  }

  .hero-title {
    font-size: 80px;
    margin: 0;
  }

  .footer-note {
    font-size: 24px;
  }

  .footer-links {
    font-size: 24px;
  }

  .download {
    font-size: 24px;
  }



  .sidebar {
    width: 40%;
  }

  .content {
    width: 60%;
  }

  .w-role-about,
  .w-year-about {
    color: #DCDCDC;
  }

  .w-role-about {
    width: 300px;
  }

  .w-title-about {
    width: 400px;
  }

  .w-role-container-about {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 1280px) {
  .hero-title {
    font-size: 70px;
    margin: 0;
  }

  .content-top {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
   .hero-title {
    font-size: 80px;
   }


  .bio {
    font-size: 16px;
  }

  .project-sidebar-description {
    font-size: 16px;
  }

  .w-role-about,
  .w-year-about {
    color: #DCDCDC;
  }

  .w-role-about {
    width: 300px;
  }

  .w-title-about {
    width: 300px;
  }

  .w-role-container-about {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .work-grid-compact {
    display: flex !important;
    height: 600px;
    display: flex;
    gap: 10px;
    padding-top: 20px;
  }

  .original-grid {
    display: none !important;
  }

  .w-title-compact {
    width: 500px !important;
  }

  .work-row-compact {
    height: 24px;
  }
   .download {
    display: none;
  }

  .download-mobile {
    display: block;
  }
  
}

@media (max-width: 1080px) and (max-height: 750px)  {
  .content-top {
    height: 100px;
  }

  .sidebar {
    width: 35%;
  }

  .content {
    width: 65%;
  }

  .hero-title {
    font-size: 60px;
    margin: 0;
  }

  .w-role-about,
  .w-year-about {
    color: #DCDCDC;
  }

  .w-role-about {
    width: 300px;
  }

  .w-title-about {
    width: 400px;
  }

  .w-role-container-about {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .w-table-about>* {
    font-size: 16px;
  }

  .work-row-compact>* {
    font-size: 16px;
  }

  .about,
  .instagram {
    padding-top: 3px;
  }
    .download {
    display: none;
  }

  .download-mobile {
    display: block;
  }
}

@media (max-width: 1080px) and (max-height: 620px) {
.hero-title {
  font-size: 60px;
}
.content-top {
  min-height: 60px;
  max-height: 60px;
}
.bio-container {
   min-height: 60px;
  max-height: 60px;
}
.year-stack {
  font-size: 50px;
  line-height: 40px;
}

.work-table {
  gap: 6px;
}
.work-row {
  height: 24px;
    font-size: 18px;
}

}
@media (max-width: 1080px) and (max-height: 800px) {
.hero-title {
  font-size: 60px;
}
.content-top {
  min-height: 70px;
  max-height: 70px;
}
.bio-container {
   min-height: 70px;
  max-height: 70px;
}
.year-stack {
  font-size: 50px;
  line-height: 40px;
}

.work-table {
  gap: 8px;
}


}
@media (max-width: 900px) {
  .hero-title {
    font-size: 45px;
    margin: 0;
  }


  .main-nav>* {
    font-size: 16px;
  }

  .footer>* {
    font-size: 18px;
  }

  .work-row-compact>* {
    font-size: 16px;
  }

  .content-about {
    padding-bottom: 70px;
  }

  .project-sidebar-description {
    font-size: 14px;
  }


}

@media (max-width: 768px) {
  .app-row {
    flex-direction: column;
    overflow-x: scroll;
    min-height: fit-content;
  }
.bio-container {
   min-height: 170px;
  max-height: 170px;
}
  .sidebar {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;

    height: fit-content;
  }

  .content {
    padding-left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .footer {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 16px;
  }

  .photo {
    object-fit: contain;
    height: 100%;
  }

  .main-nav>* {
    font-size: 28px;
  }

  .footer>* {
    font-size: 28px;
  }

  .bio {
    font-size: 22px;
  }

  .project-sidebar-description {
    font-size: 22px;
  }

  .work-table {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: 600px;
    gap: 10px;
  }

  .work-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-bottom: 1px dotted #DCDCDC;
    font-size: 18px;
    font-weight: 400;

    height: 38px;
  }

  .photo2 {
    object-fit: cover;
    height: 300px;
  }

  .w-title-about {
    font-size: 28px;
  }

  .w-role-about {
    font-size: 28px;
  }

  .w-year-about {
    font-size: 24px;
  }

  .content-about {
    min-height: 100vh !important;
  }

  .bio-main {
    height: fit-content;
  }

  .bio-container-bottom-mobile {
    display: flex;
    padding-bottom: 0;
  }

  .bio-container-bottom {
    display: none;
  }
  
  .year-stack {
    justify-self: flex-start;
    flex-direction: row;
    align-items: flex-end;
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .app-row {
    padding: 24px 12px;
  }

}

.w-title-about {
  font-size: 18px;
}

.w-year-about {
  font-size: 20px;
}

.work-grid-compact {
  display: flex !important;
  height: 500px;
  display: flex;
  gap: 25px;
  padding-top: 30px;
}

.item-role-compact {
  font-size: 16px;
}


.app-fade {
  opacity: 0;
  transition: opacity 3000ms ease;
}

.app-fade.is-visible {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .app-fade {
    transition: none;
    opacity: 1;
  }
}

@media (max-width: 520px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  .main-nav>* {
    font-size: 24px;
  }
  .footer >*{
    font-size: 24px;
  }
  .w-role {
    font-size: 16px;
    width: 140px;
  }

  .content-top {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
  }

  .photo2 {
    object-fit: cover;
    height: 300px;
  }

  .project-desc-bottom {
    padding-top: 26px;
  }
}



@media (max-height: 750px) {
  .photo2 {
    height: 270px;
  }
/* .hero-title {
  font-size: 80px;
} */


}

@media (max-height: 650px) {
  .photo2 {
    height: 270px;
    width: 70%;
  }
  .photo {
    width: 80%;
    margin: 0px auto;
  }
/* .hero-title {
  font-size: 100px;
} */
.content-top {
  min-height: 100px;
  max-height: 100px;
}
.bio-container {
   min-height: 100px;
  max-height: 100px;
}
.year-stack {
  font-size: 50px;
  line-height: 40px;
}

.work-table {
  gap: 16px;
}
.work-row {
  font-size: 18px;
}
  .photo2 {
    height: 270px;
    width: 95%;
    margin: 0px auto;
  }
  .photo {
    width: 90%;
  }
}


/* 1440–1679    ->  MIN 780  /  MAX 950 */

/* Large tablets — PORTRAIT */
@media (min-width: 800px) and (max-width: 1440px) and (min-height: 1100px) and (orientation: portrait) {
  .app-row {
    padding-bottom: 440px;
  }
    .hero-title {
    font-size: 50px;
  }
  .year-stack {
    font-size: 60px;
  }
}
